@using TravelBooking.Data.ViewModels; 

@{ 
    ViewData["Title"] = "Account Created";
}
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <p>Your account was created successfully! </p>
        <a href="/Account/Login">Log In Here</a> 
    </div>
</div>