@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelBooking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="~/TravelBooking.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom mb-3">
            <div class="container-fluid">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJCgabE5rFJHdI25VCCOfFAV3qjgYoxBHSwg&usqp=CAU"
                    alt="logo" width="30vh" height="30vh" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span style="color:Red; margin-left:15px;">Z</span><span style="color:Orange">G</span><span
                        style="color:blue">Z</span><span>&nbsp;Travel Booking</span>
                </a>
                <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Flight"
                                asp-action="Index">Flights</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <partial name="_Identity.cshtml" />
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-center">
            &copy; 2023 - TravelBooking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <!-- Google Translate -->
            <div id="google_translate_element" class="d-flex justify-content-end" style="margin-left:50px;"></div>
            <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </div>
    </footer>

    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {
                    pageLanguage: 'en',
                    includedLanguages: 'en,fr,zh-CN',
                    layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
                }, 'google_translate_element');
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
